.peos-header{
    position: fixed;
    z-index: 997;
    background-color: rgba(255,218,9,1);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.02), 
    0px 0px 2px rgba(0, 0, 0, 0.05), 
    0px 1px 4px rgba(0, 0, 0, 0.08);
   
    margin-left: 0.5rem;
}

.peos-logo{
    padding: 10px 10px 0px 10px;
    height: 90px;
}

.peos-slideImg{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

p{
    font-size: 18px;
}